/* 头部 */
.top{height: 64px;background: #346aa9;color: #fff;;line-height: 64px;font-size: 0px}
.top .title{float: left;margin-left: 50px;font-size: 28px;text-align: center}
.top .title img{width: 70%;height: 70%}
.top .container .left{float: left;}
.top .container .right{float:right;}
.top .container .left ul {float: left;color:#fff;margin-bottom: 0;}
.top .container .left ul li{float: left;}
.top .container .left ul li img{width: 18px;height:18px;cursor: pointer;}
.top .container .left ul li a{color: #fff;display: inline-block;margin-left: 10px;font-size: 16px;vertical-align: middle;margin-right: 36px;}
.top .container .left ul .active a{color:#7a98f7; }
.top .container .left ul li a:hover{color: #7a98f7;text-decoration: none;}
.top .container .right a{display: inline-block;margin-left: 20px;}
.top .right .left .el-input{top: 5px;}
.top .right .left input{width: 200px}
.top .fr{margin-right: 50px}
.top .fr ul li{float: left;}
.top .fr li a{font-size: 14px;color: #fff;display: inline-block;margin-right: 20px;}
.top .fr li a:hover{color: #7a98f7;}
.top .fr li a img{width: 18px;height:18px;}
