.Vertical-tag{
    color: #f3f3f3;
    text-decoration: none;
    background: #346aa9;
    display: block;
    padding: 10px;
    margin: 0 0 3px;
    border-radius: 2px;
  }
  
  h4{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
  }
  
  .name{
    padding-top: 20px;
    margin: 0 0 20px;
    color: #888888;
    border-top: 1px solid #ccccca;
  }
  .user-name{
    width: 75%;
    padding-bottom: 30px;
    font-family: OpenSansRegular;
    color: #1e1e1e;
    float: left;
  }
  .user-compile{
    width: 75%;
    float: left;
  }
  .compile{
    color: #428bca;
    cursor: pointer;
    font-size: 14px;
  }